<div class="collection_banner_bg_desktop" style="background-image: url('{{ collection.metafields.custom.header_image_desktop.value | image_url: width: 1920  }}');">&nbsp;</div>
{{ collection.metafields.custom.header_image_mobile.value | image_url: width: 600 | image_tag: class: 'collection_banner_bg_mobile'  }}





{% comment %}

{{ featured_image | image_url: width: 200 | image_tag: srcset: nil, class: 'product-card__image_second' }}


<div class="manufacturer_banner_bg">

  {%- if collection.image -%}
  <img
  srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
    {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
    {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
    {%- if collection.image.width >= 750 -%}{{ collection.image | img_url: '750x' }} 750w,{%- endif -%}
    {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w,{%- endif -%}
    {%- if collection.image.width >= 1500 -%}{{ collection.image | img_url: '1500x' }} 1500w,{%- endif -%}
    {{ collection.image | img_url: 'master' }} {{ collection.image.width }}w"
  src="{{ collection.image | img_url: '750x' }}"
  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
  alt="{{ collection.title | escape }}"
  loading="lazy"
  width="{{ collection.image.width }}"
  height="{{ collection.image.height }}"
  class="manufacturer_banner_bg_logo collection_banner_bg_logo"
  >
  {%- endif -%}
  
</div>
{% endcomment %}