<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

<div class="{% unless section.settings.full_width %}page-width{% endunless %}">
  <div class="rich-text color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width{% endif %}{% if section.settings.remove_top_padding %} rich-text-remove-top-padding{% endif %}">
    <div class="rich-text__blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h{%- if block.settings.use_h1_tags_for_header -%}1{%- else -%}2{%- endif %} class="{{ block.settings.heading_size }} {% if block.settings.underline_header -%}rich-text__heading_underline{%- endif %} " {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h{%- if block.settings.use_h1_tags_for_header -%}1{%- else -%}2{%- endif -%}>
          {%- when 'text' -%}
            <div class="rich-text__text rte {%- if block.settings.read_more_enabled %} line-clamp-finder line-clamp-3{% endif -%}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>            
            
            
            {% if block.settings.read_more_enabled %}
            <a class="rich-text-readmore" href="#" data-id="{{ section.id }}">READ MORE</a>
            {% endif %}
            <script>
            $('.rich-text-readmore').click(function (event) {
              event.preventDefault();
              let section_parent = $('#shopify-section-' + $(this).attr("data-id"));
              let clamp = section_parent.find('.line-clamp-finder');
              let readmore = section_parent.find('.rich-text-readmore');
              if (readmore.text() == 'READ MORE') {
                clamp.removeClass('line-clamp-3');
                readmore.text('READ LESS');
              }
              else {
                clamp.addClass('line-clamp-3');
                readmore.text('READ MORE');
              }
              
            });
            </script>
            
          {%- when 'button' -%}
            <a{% if block.settings.button_link == blank %} aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
              {{ block.settings.button_label | escape }}
            </a>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.rich-text.settings.color_scheme.options__5.label"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "remove_top_padding",
      "default": false,
      "label": "Remove top padding"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        },
        {
          "type": "checkbox",
          "id": "use_h1_tags_for_header",
          "default": false,
          "label": "Put header in H1 tags"
        },
        {
          "type": "checkbox",
          "id": "underline_header",
          "default": false,
          "label": "Underline header"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "read_more_enabled",
          "default": false,
          "label": "Read More enabled"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
